#Codeowners

#These owners will be the default owners for everything in repo. Review requests will be approved by them or specific owners as listed below.
*      @E-Levine
/.github/CODEOWNERS @E-Levine

#Files added by matthewdavis2985
Power_Analysis_2021/ @matthewdavis2985
Power_Analysis_2025_02/ @matthewdavis2985
Shell_Budget_2023/  @matthewdavis2985
